<br>
<h1>results</h1>
{{outlet}}


<ol >
    {{#each model.data as |data|}}
    {{#if data.Location}}

    <li class="dataprinted">
({{data.Startdate}}) {{data.Location}}, <strong>{{data.Country}}</strong> - {{data.Disastertype}}
</li>

{{/if}}
  {{/each}}
  </ol>
